//dany
/***** CATALOGUE *****/
#filtres{
    background-color: 	#FFD700;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    h3{
        margin-right: 1%;
    }

    select{
        margin-right: 2%;
        height: 30px;
    }
}

#movieshowcase{
    margin-top: 30px;

    .orderdiv{
        margin-left: 1%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-bottom: 20px;

        .movieshowcaseleft{
            width: 80%;

            .affiche{
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;

                .imageholder{
                    width: 25%;

                }

                .descriptionholder{
                    text-align: center;
                    border-radius: 5px;
                    width: 60%;
                    background-color: #FFD700;
                    box-shadow: 0px 0px 10px 5px white;

                    h1{
                        margin-top: 0;
                        font-size: 2.5rem;
                    }

                    p{
                        font-size: 1.8rem;
                    }
                }

            }
        }

        .movieshowcaseright{
            width: 20%;
            display: flex;
            flex-direction: column;

            a{
                width: 50%;
                background-color: #88AAFF;
                margin-bottom: 10px;
                height: 30px;
                text-align: center;
                line-height: 30px;
                color: white;
                text-decoration: none;
                border-radius: 5px;

            }

            a:first-child{

                animation-name: glow;
                animation-duration: 2s;
                animation-iteration-count: infinite;

                @-webkit-keyframes glow {
                    from { background-color: #88AAFF; -webkit-box-shadow: 0 0 9px #333; color: white;}
                    50% { background-color: #FFFFFF; -webkit-box-shadow: 0 0 18px #FFFFFF; color: #FFD700;}
                    to { background-color: #88AAFF; -webkit-box-shadow: 0 0 9px #88AAFF; color: white;}
                }
            }
        }
    }
}

#Pagination{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    a{
        width: 10%;
        margin-right: 2%;
        margin-left: 2%;
        background-color: #88AAFF;
        margin-bottom: 10px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        color: white;
        text-decoration: none;
        border-radius: 5px;
    }

    p{
        margin: 0;
        margin-right: 2%;
        font-size: 1.1rem;
    }
}
